**List: is a collection of items stored in single variable.**

In [34]:
emps=['Sam','Ravi','Vijay','Amit']

In [2]:
print(emps)

['Sam', 'Ravi', 'Vijay', 'Amit']

In [4]:
#indexing start from 0 and goes upto len-1
#len=Number of items in list
print("Number of items in list are: ",len(emps))

Number of items in list are:  4

In [5]:
for item in emps:
  print(item)

Sam
Ravi
Vijay
Amit

In [7]:
#indexing start from 0 and goes upto len-1
for i in range(len(emps)):
  print(f'Index {i} -> Stored Value {emps[i]}')

Index 0 -> Stored Value Sam
Index 1 -> Stored Value Ravi
Index 2 -> Stored Value Vijay
Index 3 -> Stored Value Amit

In [10]:
print('Employee from Index 2 is : \t',emps[2])

Employee from Index 2 is : 	 Vijay

In [11]:
print('Last Employee: ',emps[-1])

Last Employee:  Amit

In [12]:
numbers_list=[100,200,300,500,900]
print('Last Number from numbers_list: \t',numbers_list[-1])

Last Number from numbers_list: 	 900

In [20]:
print(numbers_list[2])

300

In [21]:
# List Slicing
print(numbers_list[1:4])

[200, 300, 500]

In [22]:
print(numbers_list[:3])

[100, 200, 300]

In [23]:
print('Show me first Two Employee from emps')
print(emps[:2])

Show me first Two Employee from emps
['Sam', 'Ravi']

In [24]:
print('Show me last Two Employee from emps')
print(emps[2:])

Show me last Two Employee from emps
['Vijay', 'Amit']

In [25]:
print(emps)

['Sam', 'Ravi', 'Vijay', 'Amit']

**Adding items in list**
* append(item): add the item at the end of list
* insert(position,item): add the item at given positon

In [35]:
emps

['Sam', 'Ravi', 'Vijay', 'Amit']

In [36]:
emps.append('Zoya')

In [37]:
#emps
for item in emps:
   print(item)

Sam
Ravi
Vijay
Amit
Zoya

In [38]:
emps.insert(2,'Neha')

In [39]:
emps

['Sam', 'Ravi', 'Neha', 'Vijay', 'Amit', 'Zoya']

Delete the Items:
* clear(): Delete All Items
* remove(item): remove the item by value
* pop(): remove from the end means last item

In [40]:
print(len(emps))

6

In [45]:
emps.clear()

In [46]:
print(len(emps))

0

In [ ]:
emps

In [48]:
emps=['Sam','Ravi','Vijay','Amit']
emps

['Sam', 'Ravi', 'Vijay', 'Amit']

In [49]:
#removing Vijay from list
emps.remove('Vijay')

In [50]:
emps

['Sam', 'Ravi', 'Amit']

In [51]:
#removing last item from list
emps.pop()

'Amit'

In [52]:
emps

['Sam', 'Ravi']

In [53]:
#insert, update,delete,search,slicing
#update
emps[0]='Sameer'

In [54]:
emps

['Sameer', 'Ravi']

In [56]:
#Rearrange the item
#sort(): Asc
#reverse()
emps

['Sameer', 'Ravi']

In [59]:
emps.sort()

In [60]:
emps

['Ravi', 'Sameer']

In [62]:
car_list=['Proton','BMW','Tesla','Audi']
for car in car_list:
  print(car)

Proton
BMW
Tesla
Audi

In [63]:
car_list.sort()
print('Car list in Ascending Order')
for car in car_list:
  print(car)

Car list in Ascending Order
Audi
BMW
Proton
Tesla

In [64]:
car_list.reverse()
print('Car list in Descending Order')
for car in car_list:
  print(car)

Car list in Descending Order
Tesla
Proton
BMW
Audi

In [65]:
#Use Case
shopping_cart=[]

In [67]:
choice='y'
while choice=='y':
  item=input('Enter the item to add in cart: ')
  shopping_cart.append(item)
  choice=input('Do you want to add more items? (y/n): ')

print('your shopping cart is: ',shopping_cart)

Enter the item to add in cart: Black Tea
Do you want to add more items? (y/n): y
Enter the item to add in cart: Milk
Do you want to add more items? (y/n): y
Enter the item to add in cart: Sugar
Do you want to add more items? (y/n): n
your shopping cart is:  ['Juice', 'Pizza', 'Side Dish', 'Black Tea', 'Milk', 'Sugar']

Tupe: is an ordered Immutable collection

In [68]:
week_days=('Sun','Mon','Tue','Wed','Thu','Fri','Sat')
print(week_days)

('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')

In [69]:
for day in week_days:
  print(day)

Sun
Mon
Tue
Wed
Thu
Fri
Sat

In [71]:
numbers=(100,130,100,230,130,400,500,100)
print('Total Number of items are: ',len(numbers))

Total Number of items are:  8

In [72]:
#index of items and you can find out frequency of item
print('Index of 230 is: ',numbers.index(230))
#

Index of 230 is:  3

In [73]:
print('Frequency of 100 in numbers',numbers.count(100))

Frequency of 100 in numbers 3

In [74]:
# A list of employees using tuples (id,name,salary,designation)
employees=(
    (1,'Sam',5500,'Manager'),
    (2,'Ravi',4300,'Tester'),
    (3,'Alina',3500,'Developer'),
    (4,'Chang',3500,'HR'),
    (5,'Ali',3500,'HR'),
)

In [76]:
for emp in employees:
  print(f'ID:\t{emp[0]} \tName:\t{emp[1]} \t Salary: \t{emp[2]} \tDesignation:\t {emp[3]}')

ID:	1 	Name:	Sam 	 Salary: 	5500 	Designation:	 Manager
ID:	2 	Name:	Ravi 	 Salary: 	4300 	Designation:	 Tester
ID:	3 	Name:	Alina 	 Salary: 	3500 	Designation:	 Developer
ID:	4 	Name:	Chang 	 Salary: 	3500 	Designation:	 HR
ID:	5 	Name:	Ali 	 Salary: 	3500 	Designation:	 HR

Wrte a BankTransactions Record using Tuple.
* Saved 3 transactions
* Transaction content following:
   TransactionId,Name,Amount,Date,Type
   e.g. TXN-01 ,Sam, 250.50, '2025-11-13', 'NetBanking'

* Show stored data

**Set: is an unordered collection of unique items,mutable.**

In [77]:
our_set={'fan','ac','washing machine','cooler','ac'}

In [78]:
print(our_set)

{'ac', 'washing machine', 'fan', 'cooler'}

In [80]:
#add(): to add the item in set
our_set.add('laptop')
print('Set after adding one more item')
for item in our_set:
    print(item)

Set after adding one more item
cooler
washing machine
fan
laptop
ac

In [81]:
our_set.remove('cooler')
print('Set after removing one item')
for item in our_set:
  print(item)

Set after removing one item
washing machine
fan
laptop
ac

In [82]:
#union,intersection, difference
set_one={10,20,30,40,50}
set_two={5,10,15,20,25,30}
set_union=set_one.union(set_two)
print('Union of both sets')
print(set_union)

Union of both sets
{5, 40, 10, 15, 50, 20, 25, 30}

In [83]:
set_intersection=set_one.intersection(set_two)
print('Intersection of both sets')
print(set_intersection)

Intersection of both sets
{10, 20, 30}

In [84]:
set_difference=set_one.difference(set_two)
print('Difference of both sets')
print(set_difference)

Difference of both sets
{40, 50}

In [85]:
set_difference=set_two.difference(set_one)
print('Difference of both sets')
print(set_difference)

Difference of both sets
{25, 5, 15}

In [87]:
course_one={'Python','Power BI','Excel','SQL','Time Management','Soft Skill'}
course_two={'Python','Excel','SQL','Soft Skill','Tableau','TensorFlow','Azure','GitHub'}
print(course_one)
print(course_two)

{'Soft Skill', 'Time Management', 'SQL', 'Python', 'Excel', 'Power BI'}
{'GitHub', 'TensorFlow', 'Python', 'Tableau', 'Azure', 'SQL', 'Soft Skill', 'Excel'}

In [90]:
common_courses=course_one.intersection(course_two)
print('Common Skills')
for course in common_courses:
  print(course)

Common Skills
Soft Skill
Excel
SQL
Python

In [91]:
course_union=course_one.union(course_two)
print('All Skills covered by both Training')
for course in course_union:
  print(course)

All Skills covered by both Training
GitHub
TensorFlow
Python
Tableau
Azure
Time Management
SQL
Soft Skill
Excel
Power BI

In [93]:
course_diff_one=course_one.difference(course_two)
print('Skills Covered by Course_one Only')
for course in course_diff_one:
  print(course)

Skills Covered by Course_one Only
Time Management
Power BI

In [94]:
course_diff_two=course_two.difference(course_one)
print('Skills Covered by course_two Only')
for course in course_diff_two:
  print(course)

Skills Covered by course_two Only
Tableau
GitHub
Azure
TensorFlow

Dictionary:is a mutable collection of key value pairs.
keys are unique

In [95]:
players={'name':'Sachin','age':45,'country':'India'}
print(players)

{'name': 'Sachin', 'age': 45, 'country': 'India'}

In [99]:
print('All Keys')
for k in players:
  print(k)

All Keys
name
age
country

In [101]:
print('All Keys')
for k in players.keys():
  print(k)

All Keys
name
age
country

In [100]:
print('All Values')
for v in players.values():
  print(v)

All Values
Sachin
45
India

In [105]:
print('Key -> Value')
for k in players:
  print(f'{k} ->{players[k]}')

Key -> Value
name ->Sachin
age ->45
country ->India

In [106]:
players['Type']='All-Rounder'
print(players)

{'name': 'Sachin', 'age': 45, 'country': 'India', 'Type': 'All-Rounder'}

In [107]:
players['MatchFee']=5000
print(players)

{'name': 'Sachin', 'age': 45, 'country': 'India', 'Type': 'All-Rounder', 'MatchFee': 5000}