## *Pandas* : Pandas is a Python Library . It is used for data analysis and data manipulation.
#### We can use data from csv, excel or sql tables

In [1]:
import pandas as pd

In [2]:
# Create Series using Pandas
data=[12,24,36,48,60]
data_series=pd.Series(data)
data_series

0    12
1    24
2    36
3    48
4    60
dtype: int64

In [3]:
data_series2=pd.Series(data,index=['Student-1','Student-2','Student-3','Student-4','Student-5'])
data_series2

Student-1    12
Student-2    24
Student-3    36
Student-4    48
Student-5    60
dtype: int64

In [5]:
#DataFrame (Table)
import numpy as np
df=pd.DataFrame(np.random.randn(5,5))
df

          0         1         2         3         4
0 -0.475356 -1.301170  0.358210  1.816540 -0.500912
1  0.725128  0.871376  0.110311  1.462554 -0.920012
2 -2.329505  0.689246 -0.443995 -0.250901 -1.715620
3 -0.836171  0.273690 -1.190804  0.413804  0.527633
4 -1.973320 -0.313988 -1.605634  0.927604  0.566489

In [6]:
data_set={
    'Name':['A','B','C','D','E'],
    'Age':[20,21,22,23,24],
    'City':['Delhi','Mumbai','Kolkata','Chennai','Bangalore']
}
df=pd.DataFrame(data_set)
df

  Name  Age       City
0    A   20      Delhi
1    B   21     Mumbai
2    C   22    Kolkata
3    D   23    Chennai
4    E   24  Bangalore

In [ ]:
#Reading Data from Files
# Reading data from csv

In [7]:
df_netflix=pd.read_csv('/content/netflix_data.csv')
df_netflix

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries

In [8]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas

In [9]:
df_netflix.tail()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries

In [10]:
df_netflix.shape

(7787, 11)

In [19]:
df_exam=pd.read_csv('/content/exams.csv')
df_exam

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [22]:
df_exam['math score']

0      67
1      40
2      59
3      77
4      78
       ..
995    73
996    85
997    32
998    73
999    65
Name: math score, Length: 1000, dtype: int64

In [15]:
df_exam[['lunch','math score']]

            lunch  math score
0        standard          67
1    free/reduced          40
2    free/reduced          59
3        standard          77
4        standard          78
..            ...         ...
995      standard          73
996  free/reduced          85
997  free/reduced          32
998      standard          73
999      standard          65

[1000 rows x 2 columns]

In [20]:
#Row Selection
df_exam.iloc[0]

gender                                male
race/ethnicity                     group A
parental level of education    high school
lunch                             standard
test preparation course          completed
math score                              67
reading score                           67
writing score                           63
Name: 0, dtype: object

In [21]:
df_exam.loc[0]

gender                                male
race/ethnicity                     group A
parental level of education    high school
lunch                             standard
test preparation course          completed
math score                              67
reading score                           67
writing score                           63
Name: 0, dtype: object

In [23]:
df_exam[df_exam['math score']>90]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
7,male,group E,some college,standard,completed,93,88,84
10,male,group E,some college,standard,completed,99,83,85
39,male,group E,associate's degree,standard,none,98,81,77
44,male,group E,high school,standard,none,100,88,87
87,male,group D,some college,standard,none,97,93,88
93,male,group D,bachelor's degree,standard,completed,94,87,93
96,female,group E,associate's degree,standard,completed,95,100,100
108,male,group B,associate's degree,standard,none,92,78,71
128,male,group E,some college,standard,completed,100,84,87
148,female,group E,bachelor's degree,standard,completed,100,100,100
157,female,group E,associate's degree,free/reduced,none,92,87,87
185,female,group C,master's degree,standard,none,91,100,99
211,male,group D,associate's degree,standard,none,97,88,85
224,male,group D,bachelor's degree,standard,none,99,94,97
229,male,group C,associate's degree,free/reduced,completed,94,83,82
235,male,group C,associate's degree,standard,completed,100,91,90
273,female,group E,high school,standard,none,93,100,93
281,male,group E,associate's degree,standard,completed,100,100,100
333,male,group D,some high school,standard,none,96,83,82
406,male,group D,some college,standard,none,94,92,85
438,male,group D,associate's degree,standard,none,91,88,90
444,male,group D,bachelor's degree,standard,completed,93,86,95
470,female,group D,some college,standard,none,91,94,96
485,male,group B,master's degree,standard,none,93,96,96
550,female,group E,some college,standard,completed,100,100,100
552,female,group E,master's degree,free/reduced,completed,92,100,98
584,male,group C,bachelor's degree,standard,none,100,84,88
593,male,group D,bachelor's degree,standard,completed,100,97,100
626,female,group B,master's degree,standard,completed,96,98,100
634,female,group D,master's degree,standard,completed,100,100,100
638,male,group E,high school,standard,none,100,82,80
652,female,group C,some high school,standard,completed,92,100,97
662,female,group C,associate's degree,standard,none,92,95,95
690,male,group B,bachelor's degree,standard,completed,94,92,92
694,male,group D,some college,standard,completed,96,95,90
707,female,group E,high school,standard,none,92,86,82
711,male,group E,high school,free/reduced,none,93,86,73
732,male,group E,associate's degree,standard,none,100,91,86
748,male,group C,bachelor's degree,standard,none,95,99,91
754,female,group A,master's degree,standard,completed,94,100,100
780,female,group A,bachelor's degree,standard,completed,91,100,100
814,male,group D,some college,standard,none,91,95,88
816,female,group C,associate's degree,standard,completed,94,99,100
825,male,group E,associate's degree,standard,completed,100,100,100
828,male,group E,some high school,standard,completed,97,80,88
839,male,group E,some college,standard,completed,100,84,88
842,male,group A,some college,standard,completed,91,97,95
848,male,group E,high school,standard,none,94,89,86
854,male,group D,bachelor's degree,standard,completed,98,94,95
860,male,group C,bachelor's degree,standard,none,98,92,90
881,male,group B,master's degree,standard,none,99,81,87
935,male,group D,some high school,standard,none,91,77,72
940,male,group E,associate's degree,free/reduced,completed,92,79,77
959,male,group D,master's degree,standard,completed,91,84,83
964,male,group E,bachelor's degree,standard,none,100,83,86

In [24]:
df_exam[df_exam['math score']==100]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
44,male,group E,high school,standard,none,100,88,87
128,male,group E,some college,standard,completed,100,84,87
148,female,group E,bachelor's degree,standard,completed,100,100,100
235,male,group C,associate's degree,standard,completed,100,91,90
281,male,group E,associate's degree,standard,completed,100,100,100
550,female,group E,some college,standard,completed,100,100,100
584,male,group C,bachelor's degree,standard,none,100,84,88
593,male,group D,bachelor's degree,standard,completed,100,97,100
634,female,group D,master's degree,standard,completed,100,100,100
638,male,group E,high school,standard,none,100,82,80
732,male,group E,associate's degree,standard,none,100,91,86
825,male,group E,associate's degree,standard,completed,100,100,100
839,male,group E,some college,standard,completed,100,84,88
964,male,group E,bachelor's degree,standard,none,100,83,86

In [25]:
df_exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [26]:
df_exam.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.396000      69.002000      67.738000
std      15.402871      14.737272      15.600985
min      13.000000      27.000000      23.000000
25%      56.000000      60.000000      58.000000
50%      66.500000      70.000000      68.000000
75%      77.000000      79.000000      79.000000
max     100.000000     100.000000     100.000000

In [27]:
df_exam.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [28]:
df_exam

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [29]:
df_exam.drop('parental level of education',axis=1,inplace=True)

In [30]:
df_exam

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score
0,male,group A,standard,completed,67,67,63
1,female,group D,free/reduced,none,40,59,55
2,male,group E,free/reduced,none,59,60,50
3,male,group B,standard,none,77,78,68
4,male,group E,standard,completed,78,73,68
...,...,...,...,...,...,...,...
995,male,group C,standard,none,73,70,65
996,male,group D,free/reduced,completed,85,91,92
997,female,group C,free/reduced,none,32,35,41
998,female,group C,standard,none,73,74,82
999,male,group A,standard,completed,65,60,62

### Reading from excel

In [31]:
import pandas as pd

In [32]:
df=pd.read_excel('/content/employees.xlsx')

In [33]:
df

   EmpID   Name Department  Age  Salary  Experience       City
0    101    Ali         IT   25   50000           3      Delhi
1    102   Sara         HR   28   45000           5     Mumbai
2    103   John         IT   30   60000           7      Delhi
3    104   Mike      Sales   27   42000           4       Pune
4    105  David         HR   35   52000          10     Mumbai
5    106   Ravi         IT   24   40000           2      Noida
6    107   Neha      Sales   29   48000           6      Delhi
7    108   Amit         IT   32   65000           9  Bangalore
8    109  Priya         HR   26   43000           3    Chennai
9    110  Karan      Sales   31   55000           8     Mumbai

In [34]:
df.head(3)

   EmpID  Name Department  Age  Salary  Experience    City
0    101   Ali         IT   25   50000           3   Delhi
1    102  Sara         HR   28   45000           5  Mumbai
2    103  John         IT   30   60000           7   Delhi

In [35]:
df.head(3)

   EmpID  Name Department  Age  Salary  Experience    City
0    101   Ali         IT   25   50000           3   Delhi
1    102  Sara         HR   28   45000           5  Mumbai
2    103  John         IT   30   60000           7   Delhi

In [36]:
#Random 5 Rows from dataframe
df.sample(5)

   EmpID  Name Department  Age  Salary  Experience       City
3    104  Mike      Sales   27   42000           4       Pune
0    101   Ali         IT   25   50000           3      Delhi
5    106  Ravi         IT   24   40000           2      Noida
7    108  Amit         IT   32   65000           9  Bangalore
2    103  John         IT   30   60000           7      Delhi

In [37]:
#datatypes, columns ,missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmpID       10 non-null     int64
 1   Name        10 non-null     object
 2   Department  10 non-null     object
 3   Age         10 non-null     int64
 4   Salary      10 non-null     int64
 5   Experience  10 non-null     int64
 6   City        10 non-null     object
dtypes: int64(4), object(3)
memory usage: 692.0+ bytes

In [38]:
#rows and columns
df.shape

(10, 7)

In [39]:
df.columns

Index(['EmpID', 'Name', 'Department', 'Age', 'Salary', 'Experience', 'City'], dtype='object')

In [40]:
df.dtypes

EmpID          int64
Name          object
Department    object
Age            int64
Salary         int64
Experience     int64
City          object
dtype: object

In [44]:
df.describe()

           EmpID       Age        Salary  Experience
count   10.00000  10.00000     10.000000   10.000000
mean   105.50000  28.70000  50000.000000    5.700000
std      3.02765   3.40098   8137.703744    2.750757
min    101.00000  24.00000  40000.000000    2.000000
25%    103.25000  26.25000  43500.000000    3.250000
50%    105.50000  28.50000  49000.000000    5.500000
75%    107.75000  30.75000  54250.000000    7.750000
max    110.00000  35.00000  65000.000000   10.000000

In [42]:
df['Name']

0      Ali
1     Sara
2     John
3     Mike
4    David
5     Ravi
6     Neha
7     Amit
8    Priya
9    Karan
Name: Name, dtype: object

In [43]:
df[['Name','Salary']]

    Name  Salary
0    Ali   50000
1   Sara   45000
2   John   60000
3   Mike   42000
4  David   52000
5   Ravi   40000
6   Neha   48000
7   Amit   65000
8  Priya   43000
9  Karan   55000

In [45]:
df[['Name','Age','Salary']]

    Name  Age  Salary
0    Ali   25   50000
1   Sara   28   45000
2   John   30   60000
3   Mike   27   42000
4  David   35   52000
5   Ravi   24   40000
6   Neha   29   48000
7   Amit   32   65000
8  Priya   26   43000
9  Karan   31   55000

In [46]:

df

   EmpID   Name Department  Age  Salary  Experience       City
0    101    Ali         IT   25   50000           3      Delhi
1    102   Sara         HR   28   45000           5     Mumbai
2    103   John         IT   30   60000           7      Delhi
3    104   Mike      Sales   27   42000           4       Pune
4    105  David         HR   35   52000          10     Mumbai
5    106   Ravi         IT   24   40000           2      Noida
6    107   Neha      Sales   29   48000           6      Delhi
7    108   Amit         IT   32   65000           9  Bangalore
8    109  Priya         HR   26   43000           3    Chennai
9    110  Karan      Sales   31   55000           8     Mumbai

In [47]:
df[df['Salary']>50000]  #Filtering Salary greater than 50k

   EmpID   Name Department  Age  Salary  Experience       City
2    103   John         IT   30   60000           7      Delhi
4    105  David         HR   35   52000          10     Mumbai
7    108   Amit         IT   32   65000           9  Bangalore
9    110  Karan      Sales   31   55000           8     Mumbai

In [50]:
df[df['City']=='Delhi']  # Employee From Delhi

   EmpID  Name Department  Age  Salary  Experience   City
0    101   Ali         IT   25   50000           3  Delhi
2    103  John         IT   30   60000           7  Delhi
6    107  Neha      Sales   29   48000           6  Delhi

In [53]:
df[df['Department']=='IT']

   EmpID  Name Department  Age  Salary  Experience       City
0    101   Ali         IT   25   50000           3      Delhi
2    103  John         IT   30   60000           7      Delhi
5    106  Ravi         IT   24   40000           2      Noida
7    108  Amit         IT   32   65000           9  Bangalore

In [54]:
df[(df['Department']=='IT') & (df['City']=='Delhi')]

   EmpID  Name Department  Age  Salary  Experience   City
0    101   Ali         IT   25   50000           3  Delhi
2    103  John         IT   30   60000           7  Delhi

In [56]:
#Query way
df.query('Salary>50000')

   EmpID   Name Department  Age  Salary  Experience       City
2    103   John         IT   30   60000           7      Delhi
4    105  David         HR   35   52000          10     Mumbai
7    108   Amit         IT   32   65000           9  Bangalore
9    110  Karan      Sales   31   55000           8     Mumbai

In [55]:
#Query way
df.query('Department=="IT"')

   EmpID  Name Department  Age  Salary  Experience       City
0    101   Ali         IT   25   50000           3      Delhi
2    103  John         IT   30   60000           7      Delhi
5    106  Ravi         IT   24   40000           2      Noida
7    108  Amit         IT   32   65000           9  Bangalore

In [57]:
#Sort df based on Salary
df.sort_values(by='Salary')

   EmpID   Name Department  Age  Salary  Experience       City
5    106   Ravi         IT   24   40000           2      Noida
3    104   Mike      Sales   27   42000           4       Pune
8    109  Priya         HR   26   43000           3    Chennai
1    102   Sara         HR   28   45000           5     Mumbai
6    107   Neha      Sales   29   48000           6      Delhi
0    101    Ali         IT   25   50000           3      Delhi
4    105  David         HR   35   52000          10     Mumbai
9    110  Karan      Sales   31   55000           8     Mumbai
2    103   John         IT   30   60000           7      Delhi
7    108   Amit         IT   32   65000           9  Bangalore

In [58]:
#Sort df based on Salary descending
df.sort_values(by='Salary',ascending=False)

   EmpID   Name Department  Age  Salary  Experience       City
7    108   Amit         IT   32   65000           9  Bangalore
2    103   John         IT   30   60000           7      Delhi
9    110  Karan      Sales   31   55000           8     Mumbai
4    105  David         HR   35   52000          10     Mumbai
0    101    Ali         IT   25   50000           3      Delhi
6    107   Neha      Sales   29   48000           6      Delhi
1    102   Sara         HR   28   45000           5     Mumbai
8    109  Priya         HR   26   43000           3    Chennai
3    104   Mike      Sales   27   42000           4       Pune
5    106   Ravi         IT   24   40000           2      Noida

In [59]:
# group by department salary sum
df.groupby('Department')['Salary'].sum()

Department
HR       140000
IT       215000
Sales    145000
Name: Salary, dtype: int64

In [60]:
df.drop('Age',axis=1,inplace=True)  #Drop a column from dataframe

In [62]:
df.head(3)

   EmpID  Name Department  Salary  Experience    City
0    101   Ali         IT   50000           3   Delhi
1    102  Sara         HR   45000           5  Mumbai
2    103  John         IT   60000           7   Delhi

In [63]:
df['Bonus']=df['Salary']*0.15 # Add a new column in df

In [64]:
df.head(3)

   EmpID  Name Department  Salary  Experience    City   Bonus
0    101   Ali         IT   50000           3   Delhi  7500.0
1    102  Sara         HR   45000           5  Mumbai  6750.0
2    103  John         IT   60000           7   Delhi  9000.0

In [65]:
df['Tax']=df['Salary']*0.12

In [66]:
df.sample(3)

   EmpID  Name Department  Salary  Experience   City   Bonus     Tax
3    104  Mike      Sales   42000           4   Pune  6300.0  5040.0
2    103  John         IT   60000           7  Delhi  9000.0  7200.0
0    101   Ali         IT   50000           3  Delhi  7500.0  6000.0

In [67]:
df.nlargest(5,'Salary') #Top five salary

   EmpID   Name Department  Salary  Experience       City   Bonus     Tax
7    108   Amit         IT   65000           9  Bangalore  9750.0  7800.0
2    103   John         IT   60000           7      Delhi  9000.0  7200.0
9    110  Karan      Sales   55000           8     Mumbai  8250.0  6600.0
4    105  David         HR   52000          10     Mumbai  7800.0  6240.0
0    101    Ali         IT   50000           3      Delhi  7500.0  6000.0

***Exercise***
* Download employee_performance.xlsx from https://github.com/salman1256/aiml_evening.git
* Read out excel file in dataframe
* find 2 random, first , and last records
* Sort Employees by PerformanceScore
* Find out top 3 Performers
* Add one more column Bonus based on Salary (Bonus=10% of Salary)

In [79]:
#Read out excel file in dataframe
df_performance=pd.read_excel('/content/employee_performance.xlsx')
df_performance

,EmpID,Name,Department,Projects,HoursPerWeek,PerformanceScore,Salary,City
0,201,Ali,IT,5,40,85,50000,Delhi
1,202,Sara,HR,3,38,78,45000,Mumbai
2,203,John,IT,6,45,92,65000,Delhi
3,204,Neha,Sales,4,42,81,48000,Pune
4,205,Ravi,IT,2,35,70,40000,Noida
5,206,Priya,HR,3,37,75,43000,Chennai
6,207,Karan,Sales,5,44,88,55000,Mumbai
7,208,Amit,IT,7,50,95,70000,Bangalore
8,209,David,HR,4,41,82,52000,Mumbai
9,210,Meena,Sales,3,39,76,46000,Delhi

In [80]:
#find 2 random, first , and last records
df_performance.sample(2)

,EmpID,Name,Department,Projects,HoursPerWeek,PerformanceScore,Salary,City
2,203,John,IT,6,45,92,65000,Delhi
4,205,Ravi,IT,2,35,70,40000,Noida

In [81]:
df_performance.head(2)

,EmpID,Name,Department,Projects,HoursPerWeek,PerformanceScore,Salary,City
0,201,Ali,IT,5,40,85,50000,Delhi
1,202,Sara,HR,3,38,78,45000,Mumbai

In [82]:
df_performance.tail(2)

,EmpID,Name,Department,Projects,HoursPerWeek,PerformanceScore,Salary,City
8,209,David,HR,4,41,82,52000,Mumbai
9,210,Meena,Sales,3,39,76,46000,Delhi

In [83]:
#Sort Employees by PerformanceScore
df_performance.sort_values(by='PerformanceScore')

,EmpID,Name,Department,Projects,HoursPerWeek,PerformanceScore,Salary,City
4,205,Ravi,IT,2,35,70,40000,Noida
5,206,Priya,HR,3,37,75,43000,Chennai
9,210,Meena,Sales,3,39,76,46000,Delhi
1,202,Sara,HR,3,38,78,45000,Mumbai
3,204,Neha,Sales,4,42,81,48000,Pune
8,209,David,HR,4,41,82,52000,Mumbai
0,201,Ali,IT,5,40,85,50000,Delhi
6,207,Karan,Sales,5,44,88,55000,Mumbai
2,203,John,IT,6,45,92,65000,Delhi
7,208,Amit,IT,7,50,95,70000,Bangalore

In [84]:
df_performance.sort_values(by='PerformanceScore',ascending=False)

,EmpID,Name,Department,Projects,HoursPerWeek,PerformanceScore,Salary,City
7,208,Amit,IT,7,50,95,70000,Bangalore
2,203,John,IT,6,45,92,65000,Delhi
6,207,Karan,Sales,5,44,88,55000,Mumbai
0,201,Ali,IT,5,40,85,50000,Delhi
8,209,David,HR,4,41,82,52000,Mumbai
3,204,Neha,Sales,4,42,81,48000,Pune
1,202,Sara,HR,3,38,78,45000,Mumbai
9,210,Meena,Sales,3,39,76,46000,Delhi
5,206,Priya,HR,3,37,75,43000,Chennai
4,205,Ravi,IT,2,35,70,40000,Noida

In [85]:
#Find out top 3 Performers
df_performance.nlargest(3,'PerformanceScore')

,EmpID,Name,Department,Projects,HoursPerWeek,PerformanceScore,Salary,City
7,208,Amit,IT,7,50,95,70000,Bangalore
2,203,John,IT,6,45,92,65000,Delhi
6,207,Karan,Sales,5,44,88,55000,Mumbai

In [87]:
#Add one more column Bonus based on Salary (Bonus=10% of Salary)
df_performance['Bonus']=df_performance['Salary']*0.10

In [88]:
df_performance.head()

,EmpID,Name,Department,Projects,HoursPerWeek,PerformanceScore,Salary,City,Bonus
0,201,Ali,IT,5,40,85,50000,Delhi,5000.0
1,202,Sara,HR,3,38,78,45000,Mumbai,4500.0
2,203,John,IT,6,45,92,65000,Delhi,6500.0
3,204,Neha,Sales,4,42,81,48000,Pune,4800.0
4,205,Ravi,IT,2,35,70,40000,Noida,4000.0

In [89]:
#few more things
#Find Max PerformanceScore
df_performance['PerformanceScore'].max()

95

In [90]:
#Find Min PerformanceScore
df_performance['PerformanceScore'].min()

70

In [91]:
# count employee per department
df_performance['Department'].value_counts()

Department
IT       4
HR       3
Sales    3
Name: count, dtype: int64

In [92]:
# department wise average salary
df_performance.groupby('Department')['Salary'].mean()

Department
HR       46666.666667
IT       56250.000000
Sales    49666.666667
Name: Salary, dtype: float64

In [93]:
# department wise sum of salary
df_performance.groupby('Department')['Salary'].sum()

Department
HR       140000
IT       225000
Sales    149000
Name: Salary, dtype: int64