## *Pandas* : Pandas is a Python Library . It is used for data analysis and data manipulation.
#### We can use data from csv, excel or sql tables

In [1]:
import pandas as pd

In [2]:
# Create Series using Pandas
data=[12,24,36,48,60]
data_series=pd.Series(data)
data_series

0    12
1    24
2    36
3    48
4    60
dtype: int64

In [3]:
data_series2=pd.Series(data,index=['Student-1','Student-2','Student-3','Student-4','Student-5'])
data_series2

Student-1    12
Student-2    24
Student-3    36
Student-4    48
Student-5    60
dtype: int64

In [5]:
#DataFrame (Table)
import numpy as np
df=pd.DataFrame(np.random.randn(5,5))
df

          0         1         2         3         4
0 -0.475356 -1.301170  0.358210  1.816540 -0.500912
1  0.725128  0.871376  0.110311  1.462554 -0.920012
2 -2.329505  0.689246 -0.443995 -0.250901 -1.715620
3 -0.836171  0.273690 -1.190804  0.413804  0.527633
4 -1.973320 -0.313988 -1.605634  0.927604  0.566489

In [6]:
data_set={
    'Name':['A','B','C','D','E'],
    'Age':[20,21,22,23,24],
    'City':['Delhi','Mumbai','Kolkata','Chennai','Bangalore']
}
df=pd.DataFrame(data_set)
df

  Name  Age       City
0    A   20      Delhi
1    B   21     Mumbai
2    C   22    Kolkata
3    D   23    Chennai
4    E   24  Bangalore

In [ ]:
#Reading Data from Files
# Reading data from csv