In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/Titanic Dataset.csv')

In [3]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [5]:
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [6]:
data={
    "Name":['Sam','Ravi','Zoya','Ali','Xi','Chang','Deep','Neha','Sam'],
    "Age":[35,None,35,30,32,35,40,35,35],
    "Department":['IT','Web-Development','App-Development','IT','Web-Development','App-Development',None,'Web-Development','IT'],
    "Salary":[2000,None,2500,None,4000,2500,3000,2000,2000]

}

In [7]:
df=pd.DataFrame(data)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        9 non-null      object
 1   Age         8 non-null      float64
 2   Department  8 non-null      object
 3   Salary      7 non-null      float64
dtypes: float64(2), object(2)
memory usage: 420.0+ bytes

In [9]:
df.isnull().sum() #check null values

Name          0
Age           1
Department    1
Salary        2
dtype: int64

In [10]:
df.describe()

             Age       Salary
count   8.000000     7.000000
mean   34.625000  2571.428571
std     2.875388   731.925055
min    30.000000  2000.000000
25%    34.250000  2000.000000
50%    35.000000  2500.000000
75%    35.000000  2750.000000
max    40.000000  4000.000000

In [11]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
dtype: bool

In [12]:
df.duplicated().sum()

np.int64(1)

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df

    Name   Age       Department  Salary
0    Sam  35.0               IT  2000.0
1   Ravi   NaN  Web-Development     NaN
2   Zoya  35.0  App-Development  2500.0
3    Ali  30.0               IT     NaN
4     Xi  32.0  Web-Development  4000.0
5  Chang  35.0  App-Development  2500.0
6   Deep  40.0             None  3000.0
7   Neha  35.0  Web-Development  2000.0

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.dropna(inplace=True)

In [17]:
df

    Name   Age       Department  Salary
0    Sam  35.0               IT  2000.0
2   Zoya  35.0  App-Development  2500.0
4     Xi  32.0  Web-Development  4000.0
5  Chang  35.0  App-Development  2500.0
7   Neha  35.0  Web-Development  2000.0

In [27]:
#fillna example
data={
    "Name":['Sam','Ravi','Zoya','Ali','Xi','Chang','Deep','Neha','Sam'],
    "Age":[35,None,35,30,32,35,40,35,35],
    "Department":['IT','Web-Development','App-Development','IT','Web-Development','App-Development',None,'Web-Development','IT'],
    "Salary":[2000,None,2500,None,4000,2500,3000,2000,2000]

}

In [28]:
df_new=pd.DataFrame(data)

In [29]:
df.describe()

             Age       Salary
count   5.000000     5.000000
mean   34.400000  2600.000000
std     1.341641   821.583836
min    32.000000  2000.000000
25%    35.000000  2000.000000
50%    35.000000  2500.000000
75%    35.000000  2500.000000
max    35.000000  4000.000000

In [30]:
df.shape

(5, 4)

In [33]:
df_new.isnull().sum()

Name          0
Age           1
Department    1
Salary        2
dtype: int64

In [36]:
df_new.fillna({'Age':df_new['Age'].mean()},inplace=True)

In [37]:
df_new.isnull().sum()

Name          0
Age           0
Department    1
Salary        2
dtype: int64

In [38]:
df_new.fillna({'Salary':df_new['Salary'].mean()},inplace=True)

In [39]:
df_new.isnull().sum()

Name          0
Age           0
Department    1
Salary        0
dtype: int64

In [44]:
df

    Name   Age       Department  Salary
0    Sam  35.0               IT  2000.0
2   Zoya  35.0  App-Development  2500.0
4     Xi  32.0  Web-Development  4000.0
5  Chang  35.0  App-Development  2500.0
7   Neha  35.0  Web-Development  2000.0

In [45]:
df.fillna({'Department':df['Department'].mode()[0]},inplace=True)

In [46]:
df

    Name   Age       Department  Salary
0    Sam  35.0               IT  2000.0
2   Zoya  35.0  App-Development  2500.0
4     Xi  32.0  Web-Development  4000.0
5  Chang  35.0  App-Development  2500.0
7   Neha  35.0  Web-Development  2000.0

In [47]:
df.isnull().sum()

Name          0
Age           0
Department    0
Salary        0
dtype: int64

In [48]:
df.drop_duplicates(inplace=True)

In [49]:
df

    Name   Age       Department  Salary
0    Sam  35.0               IT  2000.0
2   Zoya  35.0  App-Development  2500.0
4     Xi  32.0  Web-Development  4000.0
5  Chang  35.0  App-Development  2500.0
7   Neha  35.0  Web-Development  2000.0

### Cleaning the customer csv

In [86]:
df=pd.read_csv('/content/customers_dirty.csv')

In [87]:
df

   CustomerID   Name   Age     City  PurchaseAmount Membership
0           1    Ali  25.0    Delhi          5000.0       Gold
1           2   Sara   NaN   Mumbai          7000.0     Silver
2           3    NaN  30.0    Delhi             NaN       Gold
3           4   John  22.0      NaN          4500.0        NaN
4           5   Neha  28.0     Pune          6000.0     Silver
5           6   Ravi   NaN    Delhi          5200.0       Gold
6           7   Amit  35.0   Mumbai             NaN     Silver
7           8    NaN  40.0  Chennai          8000.0       Gold
8           9  Priya  27.0      NaN          7500.0        NaN
9          10  Karan   NaN    Delhi             NaN     Silver

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      10 non-null     int64
 1   Name            8 non-null      object
 2   Age             7 non-null      float64
 3   City            8 non-null      object
 4   PurchaseAmount  7 non-null      float64
 5   Membership      8 non-null      object
dtypes: float64(2), int64(1), object(3)
memory usage: 612.0+ bytes

In [89]:
df.isnull().sum()

CustomerID        0
Name              2
Age               3
City              2
PurchaseAmount    3
Membership        2
dtype: int64

In [55]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [58]:
df.duplicated().sum()

np.int64(0)

In [70]:
df

   CustomerID     Name   Age     City  PurchaseAmount Membership
0           1      Ali  25.0    Delhi          5000.0       Gold
1           2     Sara   NaN   Mumbai          7000.0     Silver
2           3  Unknown  30.0    Delhi             NaN       Gold
3           4     John  22.0  Unknown          4500.0      Basic
4           5     Neha  28.0     Pune          6000.0     Silver
5           6     Ravi   NaN    Delhi          5200.0       Gold
6           7     Amit  35.0   Mumbai             NaN     Silver
7           8  Unknown  40.0  Chennai          8000.0       Gold
8           9    Priya  27.0  Unknown          7500.0      Basic
9          10    Karan   NaN    Delhi             NaN     Silver

In [90]:
df['Name']=df['Name'].fillna('Unknown')

In [68]:
df

   CustomerID     Name   Age     City  PurchaseAmount Membership
0           1      Ali  25.0    Delhi          5000.0       Gold
1           2     Sara   NaN   Mumbai          7000.0     Silver
2           3  Unknown  30.0    Delhi             NaN       Gold
3           4     John  22.0  Unknown          4500.0        NaN
4           5     Neha  28.0     Pune          6000.0     Silver
5           6     Ravi   NaN    Delhi          5200.0       Gold
6           7     Amit  35.0   Mumbai             NaN     Silver
7           8  Unknown  40.0  Chennai          8000.0       Gold
8           9    Priya  27.0  Unknown          7500.0        NaN
9          10    Karan   NaN    Delhi             NaN     Silver

In [91]:
df['City']=df['City'].fillna('Unknown')

In [92]:
df['Membership']=df['Membership'].fillna('Basic')

In [93]:
df['PurchaseAmount']=df['PurchaseAmount'].fillna(df['PurchaseAmount'].mean())

In [94]:
df

   CustomerID     Name   Age     City  PurchaseAmount Membership
0           1      Ali  25.0    Delhi     5000.000000       Gold
1           2     Sara   NaN   Mumbai     7000.000000     Silver
2           3  Unknown  30.0    Delhi     6171.428571       Gold
3           4     John  22.0  Unknown     4500.000000      Basic
4           5     Neha  28.0     Pune     6000.000000     Silver
5           6     Ravi   NaN    Delhi     5200.000000       Gold
6           7     Amit  35.0   Mumbai     6171.428571     Silver
7           8  Unknown  40.0  Chennai     8000.000000       Gold
8           9    Priya  27.0  Unknown     7500.000000      Basic
9          10    Karan   NaN    Delhi     6171.428571     Silver

In [99]:
df.isnull().sum()

CustomerID        0
Name              0
Age               0
City              0
PurchaseAmount    0
Membership        0
dtype: int64

In [96]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [97]:
df['Age']=df['Age'].astype(int)

In [98]:
df

   CustomerID     Name  Age     City  PurchaseAmount Membership
0           1      Ali   25    Delhi     5000.000000       Gold
1           2     Sara   29   Mumbai     7000.000000     Silver
2           3  Unknown   30    Delhi     6171.428571       Gold
3           4     John   22  Unknown     4500.000000      Basic
4           5     Neha   28     Pune     6000.000000     Silver
5           6     Ravi   29    Delhi     5200.000000       Gold
6           7     Amit   35   Mumbai     6171.428571     Silver
7           8  Unknown   40  Chennai     8000.000000       Gold
8           9    Priya   27  Unknown     7500.000000      Basic
9          10    Karan   29    Delhi     6171.428571     Silver

In [81]:
df['City'].unique()

array(['Delhi', 'Mumbai', 'Unknown', 'Pune', 'Chennai'], dtype=object)

In [82]:
#final clean data
df

   CustomerID     Name  Age     City  PurchaseAmount Membership
0           1      Ali   25    Delhi     5000.000000       Gold
1           2     Sara   29   Mumbai     7000.000000     Silver
2           3  Unknown   30    Delhi     6171.428571       Gold
3           4     John   22  Unknown     4500.000000      Basic
4           5     Neha   28     Pune     6000.000000     Silver
5           6     Ravi   29    Delhi     5200.000000       Gold
6           7     Amit   35   Mumbai     6171.428571     Silver
7           8  Unknown   40  Chennai     8000.000000       Gold
8           9    Priya   27  Unknown     7500.000000      Basic
9          10    Karan   29    Delhi     6171.428571     Silver

In [83]:
df.shape

(10, 6)

In [84]:
df.drop_duplicates(inplace=True)

In [85]:
df.shape

(10, 6)