In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
resumes=[
    'Python Developer  with experience in Deep Learning'
    'Experienced software engineer with expertise in web development and SQL Server',
    'Java Developer skilled in Spring Boot , SQL and Microservices',
    'Python Developer with experience in data analysis and machine learning',
     'Dot net Developer skilled in asp.net ,SQL , Microservices',
    'Dat Scientist with Python, Machine Learning ,NLP and Pandas',
    'Front End Developer with HTML, CSS-3 JavaScript and React'


]

In [11]:
job_descriptions=[
    'Looking for Python Developer with experience in data analysis and machine learning',
]

In [12]:
documents=resumes+job_descriptions
documents

['Python Developer  with experience in Deep LearningExperienced software engineer with expertise in web development and SQL Server',
 'Java Developer skilled in Spring Boot , SQL and Microservices',
 'Python Developer with experience in data analysis and machine learning',
 'Dot net Developer skilled in asp.net ,SQL , Microservices',
 'Dat Scientist with Python, Machine Learning ,NLP and Pandas',
 'Front End Developer with HTML, CSS-3 JavaScript and React',
 'Looking for Python Developer with experience in data analysis and machine learning']

In [13]:
vectorizer=TfidfVectorizer()
tfidf_matrix=vectorizer.fit_transform(documents)
#

In [16]:
#compare resumes with job description
cosine_similarities=cosine_similarity(tfidf_matrix[:len(resumes)],tfidf_matrix[len(resumes):])
#cosine_similarities=cosine_similarity(tfidf_matrix[:-1],tfidf_matrix[-1])

In [18]:
#Display score
for i,similarity_score in enumerate(cosine_similarities):
    print(f'Resume {i+1} Similarity Score: {similarity_score[0]:.2f}')

Resume 1 Similarity Score: 0.29
Resume 2 Similarity Score: 0.12
Resume 3 Similarity Score: 0.83
Resume 4 Similarity Score: 0.07
Resume 5 Similarity Score: 0.31
Resume 6 Similarity Score: 0.11