**Funtions in Python**

---

In [1]:
def welcome():
  print('Welcome to Python functions')

In [2]:
welcome()

Welcome to Python functions

In [4]:
def display(name):
  print('Welcome to Python functions Mr.\\Ms. ',name)

In [5]:
username=input('Enter your name')
display(username)

Enter your nameSameer
Welcome to Python functions Mr.\Ms.  Sameer

In [13]:
def averge_numbers(num1,num2,num3):
  average=(num1+num2+num3)/3
  print('The average of three numbers is',average)

In [14]:
averge_numbers(10,20,30)
averge_numbers(12,34,15)
averge_numbers(5,5,25)

The average of three numbers is 20.0
The average of three numbers is 20.333333333333332
The average of three numbers is 11.666666666666666

In [1]:
#return: keyword used to return a value from function,Function can return the value back to calling enviroment
def avg_num(num1,num2):
  average=(num1+num2)/2
  return average

In [2]:
fnum=int(input('Enter first number'))
snum=int(input('Enter second number'))
result=avg_num(fnum,snum)
print(f'The average of {fnum},{snum} numbers is {result}')

Enter first number34
Enter second number45
The average of 34,45 numbers is 39.5

In [7]:
res=avg_num(10,20)
print(res)

15.0

In [20]:
#Variable Length Arguments
def display(*nums):
  print('\n All Numbers passed by you are:')
  for(i) in nums:
      print(i,end="\t")

In [19]:
display(12,45)
display(10,5,15,20,45)
display(100,200,300)

 All Numbers passed by you are:
12	45
 All Numbers passed by you are:
10	5	15	20	45
 All Numbers passed by you are:
100	200	300

In [22]:
def our_function(**kvpairs):
  print(kvpairs)

In [24]:
our_function(id=1,name="sam",desgination="manager")
our_function(product='touch screen',price=890)

{'id': 1, 'name': 'sam', 'desgination': 'manager'}
{'product': 'touch screen', 'price': 890}

In [26]:
#default arguments
def emp_reg(id,name,salary,department='ai'):
  print('Id:',id)
  print('Name:',name)
  print('Salary:',salary)
  print('Department:',department)

In [27]:
emp_reg(1,'Sam',15000,'web-development')

Id: 1
Name: Sam
Salary: 15000
Department: web-development

In [28]:
emp_reg(13,'alia',8000)

Id: 13
Name: alia
Salary: 8000
Department: ai

## Write a function in python to calculate the cube of a number entered by the user.

* Take the number from user and display following details:
* for example
Number : 5  Cube : 125

In [30]:
def cube_num(num):
  return num*num*num

In [32]:
num=int(input('Enter a number to find out cube: \t'))

print('Cube of',num,'is',cube_num(num))
#

Enter a number to find out cube: 	5
Cube of 5 is 125

In [33]:
#Recursive functions
def factorial(num):
  if num==1:
    return 1
  else:
    return num*factorial(num-1)

    #5: 5*4*3*2*1

In [39]:
number=int(input('Enter Number to find out factorial: \t'))
print(f'Factorial of {number} is = \t',factorial(number) )

Enter Number to find out factorial: 	5
Factorial of 5 is = 	 120

In [40]:
def gen_table(number):
  for i in range(1,11):
    print(f"{number} x {i} = {number*i}")

In [41]:
number=int(input('Enter number to find out table of number'))
gen_table(number)

Enter number to find out table of number4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [44]:
choice='y'
while(choice=='y'):
  number=int(input('Enter number to find out table of number: \t'))
  print(f'Table of number {number} as follows')
  gen_table(number)
  choice=input('Do you want to continue y/n')

Enter number to find out table of number: 	5
Table of number 5 as follows
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Do you want to continue y/ny
Enter number to find out table of number: 	2
Table of number 2 as follows
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Do you want to continue y/nn

In [45]:
#lambda functions or Anonymous functions or one liner functions
cube=lambda num:num*num*num
print(cube(3))

27

In [46]:
add=lambda num1,num2:num1+num2
print(add(10,20))

30

In [48]:
welcome=lambda name: print('Welcome to lambda functions Mr.\\Ms',name)
welcome('Suhail Danish ')

Welcome to lambda functions Mr.\Ms Suhail Danish

**Create a functions to add, multiply,subtract and divide two numbers using lambda**
* Call functions in while loop in way that user have choice to continue testing functions as well.