In [3]:
age=int(input('your age in years: '))
if(age>=18):
  print('You are eligible to cast your vote')
print('your age is: ',age)

your age in years: 15
your age is:  15

In [13]:
marks_per=int(input('enter your marks percentage without % sign: '))
if marks_per>50:
    print('you have cleared the exam')
else:
  print('Sorry, But you have not cleared the exam')

print(f'Marks: {marks_per} %')

enter your marks percentage without % sign: 44
Sorry, But you have not cleared the exam
Marks: 44 %

In [11]:
marks_per=int(input('enter your marks percentage without % sign: '))
grade='F'
if marks_per>90:
    grade='A'
elif marks_per>80:
  grade='B'
elif marks_per>70:
  grade='C'
elif marks_per>60:
  grade='D'

print(f'Marks: {marks_per} % Grade: {grade}')

enter your marks percentage without % sign: 85
Marks: 85 % Grade: B

Please take a number from user.
Check the number is positive,negative or zero
( using if elif...)
Display number : positive |negative |zero
---
for example:
*  Enter a number:  -2
 *  Number: -2 negative

In [14]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [16]:
for num in range(101):
  print(num,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [29]:
for num in range(1,11):
  print(num,end=' ')

1 2 3 4 5 6 7 8 9 10

In [22]:
#ragne(start,stop,step)
for i in range(10,1000,10):
  print(i,end="\t")

10	20	30	40	50	60	70	80	90	100	110	120	130	140	150	160	170	180	190	200	210	220	230	240	250	260	270	280	290	300	310	320	330	340	350	360	370	380	390	400	410	420	430	440	450	460	470	480	490	500	510	520	530	540	550	560	570	580	590	600	610	620	630	640	650	660	670	680	690	700	710	720	730	740	750	760	770	780	790	800	810	820	830	840	850	860	870	880	890	900	910	920	930	940	950	960	970	980	990

In [24]:
number=int(input('Enter Number to find out table: \t'))
print(f'Table of {number} as follows')
for i in range(1,11):
  print(f'{number} x {i} = {number*i}')

Enter Number to find out table: 	13
Table of 13 as follows
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [32]:
print(list(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
for i in range(40,200,2):
  print(i,end='\t')

40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100	102	104	106	108	110	112	114	116	118	120	122	124	126	128	130	132	134	136	138	140	142	144	146	148	150	152	154	156	158	160	162	164	166	168	170	172	174	176	178	180	182	184	186	188	190	192	194	196	198

In [36]:
list_cars=['Toyota','Honda','BMW','Tesla']
for car in list_cars:
  print(car)

Toyota
Honda
BMW
Tesla

In [39]:
#while
num=10
while num>0:
  print(num,end='\t')
  num-=1

10	9	8	7	6	5	4	3	2	1

In [44]:
#break.
for i in range(1,100):
  if i%5==0:
    break
  print(i,end=" ")

1 2 3 4

In [46]:
#continue...
for i in range(1,100):
  if i%5==0:
    continue
  print(i,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99