**Welcome to Python**

In [2]:
print("Welcome to Python")

Welcome to Python

In [5]:
username=input("Enter username: \t")
print("Welcome to Python Mr.\\Ms. ",username)

Enter username: 	Ahmad
Welcome to Python Mr.\Ms.  Ahmad

In [7]:
num1=12
num2=35
result=num1+num2
print(f'FirstNumber: {num1} Second Number: {num2}  Result: {result}')

FirstNumber: 12 Second Number: 35  Result: 47

In [16]:
num1=int(input('Enter first Number: \t'))

num2=int(input('Enter second Number: \t'))

result=num1+num2

print(f'FirstNumber: {num1} Second Number: {num2}  Addition of numbers is: {result}')

Enter first Number: 	10
Enter second Number: 	12
FirstNumber: 10 Second Number: 12  Addition of numbers is: 22

In [17]:
#float
fnum=float(input('Enter first Number: \t'))
snum=float(input('Enter second Number: \t'))
result=fnum+snum
print(f'FirstNumber: {fnum} Second Number: {snum}  Addition of numbers is: {result}')

Enter first Number: 	12.45
Enter second Number: 	11.58
FirstNumber: 12.45 Second Number: 11.58  Addition of numbers is: 24.03

In [20]:
complex_num=2+3j
print(complex_num)
print('Type of username',type(username))
print('Type of  num1',type(num1))
print('Type of  fnum',type(fnum))
print('Type of  complex_num',type(complex_num))

(2+3j)
Type of username <class 'str'>
Type of  num1 <class 'int'>
Type of  fnum <class 'float'>
Type of  complex_num <class 'complex'>

In [23]:
#Boolean
is_valid=True
print(is_valid)
is_user=False
print(is_user)

True
False

In [22]:
print('Type of  is_valid',type(is_valid))

False

In [27]:
# Binary Values
#byte
byte_ex=b'Hello'
print(byte_ex)
print('Type of  byte_ex',type(byte_ex))
#bytearray
byte_array=bytearray(5)
print(byte_array)
#memoryvies
mv=memoryview(bytes(4))
print(mv)

b'Hello'
Type of  byte_ex <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
0

In [28]:
stored_value=None
print(stored_value)
print('Type of  stored_value',type(stored_value))

None
Type of  stored_value <class 'NoneType'>

In [29]:
#Sequence Type
#list []
list_ex=[1,2,3,4,5]
print(list_ex)

[1, 2, 3, 4, 5]

In [30]:
list_ex.append(6)
print(list_ex)

[1, 2, 3, 4, 5, 6]

In [31]:
cars=['Toyota','Hyundai','BMW','Tesla','Audi']
print(cars)

['Toyota', 'Hyundai', 'BMW', 'Tesla', 'Audi']

In [32]:
# Tuple
tuple_ex=(1,2,3,4,5)
print(tuple_ex)

(1, 2, 3, 4, 5)

In [33]:
#range
range_ex=range(6)
print(range_ex)

range(0, 6)

In [34]:
#Dictionary: Mapping Type
emp={
    "id":1,
    "name":'Raj',
    "salary":55000
}
print(emp)

{'id': 1, 'name': 'Raj', 'salary': 55000}

In [35]:
#Set Type
set_ex={1,2,3,4,5}
print(set_ex)

{1, 2, 3, 4, 5}

In [36]:
frozenset_ex=frozenset(['apple','banana','mango','orange'])
print(frozenset_ex)
print(type(frozenset_ex))

frozenset({'apple', 'banana', 'orange', 'mango'})
<class 'frozenset'>